*{
  margin: 0;
  padding: 0;
  border: 0;
  font-size: inherit;
  font-weight: inherit;
  font-family: inherit;
  font-style: inherit;
  text-decoration: inherit;
  line-height: inherit;
  color:inherit;
}
.cover{
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: #000;
  z-index: 9999;
}

h1{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 36px;
  line-height: 30px;
  color: #0084b4;
  display: flex;
  justify-content: center;
}
html, body{
  font-family: "sans-serif", Helvetica, sans-serif;
  font-size: 18px;
  line-height: 30px;
  color:#444;
}
p{
  font-size: 22px;
  flex-direction: column;
  justify-content: center;
}
.center{
  position: relative;
}
.top_background{
  height: 100vh;
  min-height: 550px;
  display:flex;
  flex-direction: column;
  justify-content: center;
  border: 0;
  padding: 0;
  z-index: 9999;
  background: #fff;
}
.top_background img{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.nav{
  width: 100%;
  display: flex;
  position: -webkit-sticky; /*safari*/
  position: sticky;
  background-color: #0084b4;
  top:0;
  z-index: 9998;
}
.nav li{
  flex-grow: 1;
  list-style-type: none;
  overflow: hidden;
  margin: 0;
  padding: 0;
}
.nav li a{
  display: block;
  text-align: center;
  padding: 16px 16px;
  background-color: #0084b4;
  color: #fff;
}


.nav:hover a:not(:hover){
  color:grey;
  animation: colorfade 1s;
}

.nav:not(:hover).animated a:not(:hover){
  animation: colorfadereturn 1s;
}
@keyframes hoveredcolorfade {
  from{
    color:grey;
  }to{
    color:#fff;
  }
}
@keyframes colorfade {
  from{
    color: #fff;
  }to{
    color:grey;
  }
}
@keyframes colorfadereturn {
  from{
    color:grey;
  }to{
    color:#fff;
  }
}
.timeline-holder{
  vertical-align: center;
}
.timeline-holder blockquote{
  vertical-align: center;
  margin: auto;
  padding-left: 10%;
  min-width: 0;
}
.top_tweets{
  vertical-align: center;
}
.top_tweets blockquote{
  vertical-align: center;
  display: inline-block;
  padding: 10px;
}
.top_tweets blockquote:last-child{
  float: right;
}
.top_tweets blockquote p{
  padding-left: 35%;
}