<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <title>Let's Data</title>
    <meta name="twitter:every_exception" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <script src="JavaScript/modernizr-custom.js"></script>
    <script src="JavaScript/dynamicpage.js"></script>
    <script src="JavaScript/animation.js"></script>
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
  </head>

  <body>
  <!-- nav bar -->
  <ul class ="nav">
    <li><a href="#top"                  >Top</a></li>
    <li><a href="#bottom"               >Bottom</a></li>
    <li><a href="#"            >Main Page</a></li>
    <li><a href="#"       >Most Liked</a></li>
    <li><a href="#">Most ReTweeted</a></li>
  </ul>

  <section class="top-content" id="top">
    <header>
      <div class="toptweet">
        <!-- api stuff -->
        <p>Top tweet of all time on the timeline</p>
      </div>
    </header>
  </section>

  <section id="main-content">
    <div id="guts">
      <a class="twitter-timeline" width="50%" height="80%"
        href="https://twitter.com/TimelineBot2?ref_src=twsrc%5Etfw">Tweets by TimelineBot2</a>
    </div>
  </section>
  </body>
</html>
